<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet</title>
    <style>
body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
    
</head>
<body>
    <form action = "/setcookie" method = "POST">
        <p>Do you like a cat or a dog? </p>
        <p> Enter the petChoice from above: <p>
        <p><input type = "text" name = "nm"></p>
        <p><input type = "submit" value = "Submit"></p>
    </form>

</body>
</html>
